{% extends 'wildarts/base.html' %}
{% load static %}
{% block mystyles %}
    <link rel="stylesheet" href={% static 'css/about_us.css' %}>
    {% endblock mystyles %}
{% block content %}
{% include 'wildarts/navbar.html' %}
<div class="about-wrapper">
    <div class="about-body">
        <h1 class="title">Terms of Use</h1>
        <br>
        <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla voluptate aliquid nisi
                tempora
                quos cumque magni blanditiis ipsa maxime ipsum, officiis quibusdam quasi quas a ea quaerat id
                expedita, aliquam incidunt illo earum. Iste eos nulla tempora cupiditate optio ut ullam saepe
                nisi
                tenetur, quibusdam facilis soluta deleniti at voluptatibus autem error repellat asperiores
                labore
                unde atque quasi sequi provident doloribus! Placeat, aliquid doloribus! Voluptate magnam vitae
                minus, eveniet assumenda dicta aspernatur mollitia deserunt nemo velit fugit error expedita
                facere
                corrupti ducimus harum laborum, nihil commodi illo laudantium tempora voluptates voluptatibus
                illum!
                Neque, sequi error nostrum nulla consectetur itaque minima quia iste ducimus soluta laborum et
                rem.
                Quod amet autem deleniti mollitia ipsam? Laboriosam, soluta voluptate! Corrupti quas vel
                molestias
                culpa eligendi eaque, quae repellat deleniti nihil, explicabo soluta quo corporis eum aliquam
                voluptates. Laudantium maxime magnam, aliquam tempora consequatur nostrum corporis error ex
                nesciunt
                impedit vero praesentium ut in culpa. Beatae fuga nesciunt nostrum ducimus, soluta veritatis
                placeat
                itaque aut suscipit aliquam quis consectetur, dolor deleniti eveniet ab enim velit adipisci
                mollitia
                id, quibusdam qui dicta sed atque? Officia, debitis excepturi sunt ratione nobis quae explicabo.
                Iste dolore consequatur qui! Aperiam enim cum repellendus asperiores possimus quae placeat.</p>
        </div>
    </div>
</div>
{% endblock content %}