.about-wrapper {
    background: url('https://i.pinimg.com/564x/62/63/5b/62635bfd6f5c20e3666f27e015191bde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-body {
    margin: auto;
    padding: 2% 0;
    text-align: left;
    width: 80%;
    height: fit-content;
}

.about-body .title {
    text-align: center;
}

.about-body .info {
    text-align: justify;
    margin: auto;
    width: fit-content;
}

.myform {
    background: rgb(230, 229, 229);
    width: 70%;
    height: 100%;
    padding: 40px 0 60px 0;
    margin-top: 1%;
    border-radius: 20px;
    margin: auto;
}

.form-group {
    justify-content: center;
    margin: auto;
}

textarea {
    resize: none;
}

input[type=text], input[type=email], input[type=submit],textarea {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}

input[type=text]:focus, 
input[type=email]:focus, 
input[type=submit]:focus,
textarea:focus{
    outline: unset;
}


label {
    font-weight: 600;
    text-transform: uppercase;
}



.btn {
    background-image: linear-gradient(45deg, #f093dc, #a5c7ee);
    font-weight: bold;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    .about-body {
        width: 100%;
        padding: 10px;
    }
    .myform {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}