@media only screen and (min-width: 960px) {
    #main-container {
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        overflow: hidden;
    }
}

.auth-sidebar {
    position: relative;
    background: #f2d184;
    color: #866118;
}

@media only screen and (min-width: 960px) {
    .auth-sidebar {
        width: 450px;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .auth-sidebar {
        width: 514px;
    }
}

@media only screen and (min-width: 960px) {
    .auth-sidebar .auth-sidebar-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
    }
}

.auth-sidebar header {
    margin: 0 auto;
    max-width: 416px;
    padding: 48px 20px;
    text-align: left;
}

@media only screen and (min-width: 1100px) {
    .auth-sidebar header {
        padding: 64px 64px 30px;
    }
}

@media only screen and (min-width: 960px) {
    .auth-sidebar header {
        max-width: 100%;
        margin: 0;
        padding: 40px 40px 30px;
    }
}

.auth-sidebar header .logo {
    display: block;
    margin-bottom: 30px;
}

@media only screen and (min-width: 960px) {
    .auth-sidebar header .logo {
        opacity: 0.7;
    }
}

.auth-sidebar a {
    color: inherit;
    text-decoration: underline;
}

.auth-link a {
    color: #4f3cc9;
    text-decoration: none;
}

.auth-link-mobile a {
    color: #4f3cc9;
    text-decoration: none;
}

.auth-link-mobile {
    text-align: center;
}

@media (min-width: 960px) {
    .auth-link-mobile {
        display: none;
    }
}

.auth-sidebar header h1 {
    font: bold 32px/38px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 960px) {
    .auth-sidebar header h1 {
        display: block;
        padding-right: 30px;
    }
}

@media only screen and (max-height: 850px) {
    .auth-sidebar header h1 {
        font-size: 25px;
        line-height: 30px;
    }
}

.content {
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media only screen and (min-width: 960px) {
    .content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        flex: 1;
        overflow: auto;
    }
}

.auth-nav {
    display: none;
    position: relative;
}

@media only screen and (min-width: 960px) {
    .auth-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 30px 30px 0;
    }
}

@media only screen and (min-width: 960px) {
    .auth-nav p {
        margin: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right;
    }
}

p {
    font: normal 14px/20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    margin: 20px 0 0;
}

main {
    margin: 0 auto;
    padding: 20px;
}

@media only screen and (min-width: 960px) {
    main {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 0;
        padding: 0;
    }
}

.auth-content {
    width: 100%;
    max-width: 416px;
    margin: auto;
}

@media (min-width: 960px) {
    .auth-content {
        padding: 30px;
    }
}

h2 {
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* margin-bottom: 26px; */
}

.auth-connections {
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (min-width: 960px) {
    .auth-connections {
        margin: 0 0 40px;
    }
}

hr.divider {
    overflow: visible;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

hr.divider:after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -7px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container {
    height: 100%;
    transition: all 0.6s ease-in-out;
}

span {
    font-size: 12px;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* padding: 0 50px; */
    height: 100%;
}

@media (min-width: 400px) {
    div.form-field-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

div.form-field {
    position: relative;
}

@media (min-width: 400px) {
    div.form-field-group .form-field {
        width: 48%;
    }
}

fieldset {
    padding: 0;
    position: relative;
    margin: 8px 0;
}

form fieldset {
    margin: 0 0 12px;
}

label {
    display: block;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 14px 0 4px;
    color: #0d0c22;
}

input, textarea {
    width: 100%;
    margin-right: 8px;
}

input[type='text'], input[type='password'], input[type='email'], textarea {
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    input[type='text'], input[type='password'], input[type='email'], textarea {
        font-size: 14px;
    }
}

input[type='text'], input[type='password'], input[type='email'], textarea {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    -webkit-transition: border-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: border-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: border-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: border-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #0d0c22;
    background-color: #f3f3f4;
}

input[type='file'] {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

textarea {
    height: 200px;
    resize: none;
}

input:focus, textarea:focus {
    background-color: #fff;
    border-color: #FF4B2B !important;
    -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1) !important;
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1) !important;
}

input:hover[type='text'], input:hover[type='password'], textarea:hover {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

#id_image::-webkit-file-upload-button {
    visibility: hidden;
}

#id_image::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#id_image:hover::before {
    /* border-color: black; */
}

#id_image:active::before {
    background: linear-gradient(top, #e3e3e3, #f9f9f9);
}

#profile_photo-clear_id {
    float: left;
    /* display: inline-block; */
    width: fit-content;
    margin-top: 44px;
}