img {
    width: 100%;
}

.main-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}

/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

.wrapper {
    height: fit-content;
    width: 70%;
    margin: 50px auto;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    align-items: center;
    position: relative;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:hover, a:active {
    text-decoration: none;
}

a .fa-chevron-left {
    font-size: 20px;
    color: #0d1a1f;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 0.5rem;
    opacity: 0.7;
    position: fixed;
    z-index: 5;
    background-color: #e2e2e2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.fas {
    font-size: 15px;
    color: #0d1a1f;
    padding: 0.5rem;
    border-radius: 50%;
}

.fas:hover {
    background-color: #cecdcd;
}



.product-img {
    float: left;
    height: 100%;
    width: 50%;
    background-color: var(--card-bg-color);
}

.product-img img {
    border-radius: 50px 50px 50px 50px;
    /* transform: translate(-5rem, 2rem); */
    /* height: 100%; */
    width: 100%;
    padding: 5%;
}

.product-info {
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 0 7px 10px 7px;
}

.product-text {
    height: 90%;
    width: 100%;
    position: relative;
}

.product-text h2 a:hover {
    text-decoration: underline;
}

.product-text h1 {
    margin: 0 18px;
    padding-top: 2%;
    font-size: 34px;
    color: black;
    font-weight: bolder;
    padding-bottom: 2%;
    text-transform: capitalize;
}

.product-text h2 {
    margin: 0 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    display: inline-block;
    width: 60%;
}

.image-info {
    margin: 0 18px;
    padding-top: 6%;
}

.count {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: #FF4B2B;
    color: #FFFFFF;
    padding: 3px 10px;
    border-radius: 20px;
}

.fa-arrow-up, .fa-arrow-down {
    font-size: 20px;
    color: #FF4B2B;
    padding: 0.5rem;
    border-radius: 50%;
    font-weight: bold;
    margin-left: 10px;
}

.product-text h5 {
    margin: 0 18px;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    color: black;
    opacity: 0.5;
}

.product-text p {
    color: #585757;
    /* line-height: 1.7em; */
    font-size: 15px;
    font-weight: lighter;
}

.detail, p.detail-d {
    margin: 0 28px;
}

p.detail-d {
    text-align: left;
    max-height: 50%;
    overflow-y: scroll;
}

p.detail-d::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.like-modal {
    width: 70%;
    margin: auto;
    max-height: 500px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.like-modal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.like-modal {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.modal-title1 {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.image-likes {
    margin: 5px 25px 20px;
}

.image-likes p {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    display: inline-block;
    text-transform: capitalize;
}

.mybtn {
    position: absolute;
    margin-right: 20px;
    bottom: 3%;
    right: 1%;
    border-radius: 50px;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border: unset;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: #dc3545;
}

label {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 15px;
}

.modal-body textarea {
    resize: none;
    width: 100%;
    height: 10%;
    padding: 10px;
    border-color: lightgray;
    border-radius: 30px;
    height: 200px;
}

.modal-body textarea:focus {
    outline: unset;
}

.modal-footer {
    border: unset;
    justify-content: center;
}

.r-btn {
    border-radius: 50px;
    padding: 5px 100px;
}

.mybadge {
    position: absolute;
    margin-right: 20px;
    bottom: 10%;
    right: 2%;
    border-radius: 50px;
}

.delete-form {
    display: inline-block;
    position: absolute;
    margin-right: 20px;
    top: 50%;
    right: 1%;
    border-radius: 50px;
}

.delete-btn {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.edit-btn {
    display: inline-block;
    position: absolute;
    margin-right: 20px;
    top: 50%;
    right: 10%;
    border-radius: 50px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        box-shadow: unset;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        align-items: unset;
    }
    .wrapper {
        /* height: 80%; */
        width: 100%;
        margin-top: 15px;
        /* border-radius: 7px 7px 7px 7px;
        box-shadow: unset; */
    }
    .product-img {
        float: none;
        /* border-radius: 7px 7px 0 0; */
        /* height: 70%; */
        width: 100%;
    }
    .product-img img {
        /* border-radius: 7px 7px 0 0; */
        /* transform: translate(0, 0); */
        /* height: 100%; */
    }
    .product-info {
        float: none;
        height: 70%;
        width: 100%;
        border-radius: 0 0 10px 7px;
        background-color: #ffffff;
    }
    p.detail-d {
        text-align: left;
        max-height: none;
        overflow-y: unset;
    }
    .mybtn {
        bottom: 0;
    }
    .mybadge {
        right: 2.5%;
        bottom: 5%;
    }
}