{% extends 'images/base.html' %}
{% load static %}
{% block mystyles %}
<link rel="stylesheet" href={% static 'css/login.css' %}>
{% endblock mystyles %}
{% block content %}
   
<div id="main-container">
    <section class="auth-sidebar">
        <div class="auth-sidebar-content">
            <header>
                <a href="#" class="logo"></a>
                <h1>Discover the world’s top Designers &amp; Creatives.</h1>
            </header>
        </div>
    </section>
    <section class="content">
        <main>
            <div class="auth-content">
                <h2>Edit Profile</h2>
                <hr>
                <div class="auth-form signup-form">
                    <div class="form-container sign-up-container">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-field">
                                <fieldset class="user_email">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" name="email" id="inputEmail" class="form-control"
                                        placeholder="Email address" required autofocus
                                        value={{account_form.initial.email}}>
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_password">
                                    <label for="inputPassword">Username</label>
                                    <input type="text" name="username" id="inputUsername" class="form-control"
                                        placeholder="Username" required value="{{account_form.initial.username}}">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                {% for field in profile_form %}
                                <fieldset>
                                    {{field.label_tag}}
                                    {{field}}
                                    {% for error in field.errors%}
                                    <small style="color: red;">{{error}}</small>
                                    {% endfor %}
                                    <br>
                                    {% if field.help_text %}
                                    <small style="color: grey;">{{field.help_text}}</small>
                                    {% endif %}
                                </fieldset>
                                {% endfor %}
                            </div>

                            {% for field in account_form %}

                            {% for error in field.errors %}
                            <small style="color: red;">{{error}}</small>
                            {% endfor %}

                            {% endfor %}
                            {% if account_form.non_field_errors %}
                            <small style="color: red;">{{account_form.non_field_errors}}</small>
                            {% endif %}

                            {% if success_message %}
                            <small style="color: green;">{{success_message}}</small>
                            {% endif  %}
                            <button type="submit">Save Changes</button>


                        </form>
                    </div>
                </div>
            </div>
        </main>
    </section>
</div>



<!-- <form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Account</h1>

    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
        value={{account_form.initial.email}}>

    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required
        value="{{account_form.initial.username}}">

    {{ profile_form.as_p }}

    {% for field in account_form %}
    <p>
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    {% if account_form.non_field_errors %}
    <div style="color: red">
        <p>{{account_form.non_field_errors}}</p>
    </div>

    {% endif %}

    {% if success_message %}
    <p style="color:green; text-align: center;">{{success_message}}</p>
    {% endif  %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>

</form> -->

{% comment %} {% if images %}
{% for image in images %}
<a href="{% url 'picture_detail' image.slug %}">{{image}}</a>
<img src="{{image.image.url}}" alt="">
{% endfor %}

{% else %}
<p>you dont have any... <a href="{% url 'create_image_post' %}">Create one here</a></p>
{% endif %} {% endcomment %}





{% endblock content %}