{% extends 'images/base.html' %}
{% load static %}
{% block mystyles %}
<link rel="stylesheet" href={% static 'css/login.css' %}>
{% endblock mystyles %}
{% block content %}
<!-- 
<h2>This is registration page</h2>

<form method="POST" action="">
    {% csrf_token %}

    {% for field in registration_form %}
    <p>
        {{field.label_tag}}
        {{field}}

        {% if field.help_text %}
        <small style="color: grey;">{{field.help_text}}</small>
        {% endif %}

        {% for error in field.errors%}
        <small style="color: red;">{{error}}</small>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Submit</button>
</form> -->

<div id="main-container">
    <section class="auth-sidebar">
        <div class="auth-sidebar-content">
            <header>
                <a href="#" class="logo"></a>
                <h1>Discover the world’s top Designers &amp; Creatives.</h1>
            </header>
        </div>
    </section>
    <section class="content">
        <nav class="auth-nav">
            <p class="auth-link">
                Already a member? <a href="{% url 'login' %}">Sign In</a>
            </p>
        </nav>
        <main>
            <div class="auth-content">
                <h2>Sign up to Drawild</h2>
                <div class="auth-connections">
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <hr class="divider">

                <div class="auth-form signup-form">
                    <div class="form-container sign-up-container">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-field">
                                {% for field in registration_form %}
                                <fieldset>
                                    {{field.label_tag}}
                                    {{field}}
                                    {% for error in field.errors%}
                                    <small style="color: red;">{{error}}</small>
                                    {% endfor %}
                                    <br>
                                    {% if field.help_text %}
                                    <small style="color: grey;">{{field.help_text}}</small>
                                    {% endif %}
                                </fieldset>
                                {% endfor %}
                            </div>
                            <button type="submit">Sign Up</button>
                            <p class="auth-link-mobile">
                                Already a member? <a href="{% url 'login' %}">Sign In</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </section>
</div>
{% endblock content %}